/*#464068*/
* {
	box-sizing: border-box;
	font-family: 'Arial','Microsoft YaHei';
}
/*标签*/
a{
	text-decoration-style: none;
}
body{
	width: 100vw;
	height: 100vh;
	background-image: url(../assets/bg.jpeg);
}
/*通用布局*/
.wd-100 {
	width: 100%;
}
.ht-100 {
	height: 100%;
}
.of-hd{
	overflow: hidden;
}
.body{
	height: 100%;
	width: 100%;
}
.pm-fl-right {
	float: right;
}
.pm-fl-left {
	float: left;
}
/*详细样式*/
.left-container{
	position: fixed;
	overflow: hidden;
	left: 0;
	right: 0;
	width: 180px;
	height: 100vh;
	background-color: #464068;
}
.right-container{
	height: 100%;
	margin-left: 180px;
}
.logo {
	float: left;
	line-height: 50px;
	width: 180px;
	background-color: #3c375a;
	color: white;
	text-align: center;
}
.color-bar {
	background-color: #ee8a96;
	width: 5px;
	height: 100%;
	float: left;
}
.color-bar-active {
	background-color: #a1ceeb;
}
.body-full-width {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}
.filter {
	filter: blur(5px);
}
